.title{
    margin: 1% 0 3%;
}
.red-line{
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

/*section 7 - What people say+Latest blog - Ilona*/
.happy-clients{
    background-image: url("../images/bg-happy-clients.png");
    background-size: cover;
}
.happy-clients .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-blog-happy-clients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 6%;
    justify-content: space-between;
}
.article-happy-clients{
    width: 48%;
    margin-top: 4%;
    display: flex;
    align-items: flex-start;
}
.article-happy-clients img{
    margin-right: 20px;
}
.name-happy-clients{
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.profession-happy-clients{
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.content-article-happy-clients{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}
/*section 7 - What people say+Latest blog - Ilona*/


