/*start SECTION MAIN PAGE*/
header {
    margin: 0 15% ;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.main-page {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
}

.conteiner-gradient {
        background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.logo {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}
.navigation {
    display: flex;
    justify-content: flex-end;
}
.navigation> li {
    margin: 40px 0 0 38px;
}

.navigation> li> a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.navigation> li> a:hover {
    color: #fce38a;
    padding-bottom: 10px;
    border-bottom: 3px solid #fce38a;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title-about {
    margin-top: 7%;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 60px;
    font-weight: bolder;
}
 
.title {
    margin-top: 2%;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 125px;
    font-weight: bolder;
    line-height: 100px;
    text-transform: uppercase;
}

.title-line {
    margin-top: 2%;
    width: 81px;
    height: 3px;
    background-color: #ffffff;
}




.text-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.text-btn a {
    margin-top: 13%;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 100%;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.footer-main-page{
    margin:0 15% ;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}

.conteiner-navigation:hover .line {
    background: linear-gradient(to right, #f38181 25%, #ffffff 25%);
}

.text {
    padding: 25px
}
.line {
    background-color: #FFFFFF;
    width: 220px;
    height: 4px;
}

.numbers {
    font-family: "Montserrat";
    font-size: 24px;
    color: #ffffff;
    margin: 23px 4px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-main-page-navigation {
    font-weight: 500;
    font-family: "Montserrat";
    color: #ffffff;
}

/*END section main page*/

.container {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-page {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin: 6% 0 1% 0;
}

.about-team {
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    }

.red-line {
    margin: 3% 0 2% 0;
}

.red-line hr {
    color: #f38181;
    border-style: solid;
    height: 3px;
    background-color: #f38181;
}

.text-about {
    margin: 40px 0;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 954px;
}

.workers {
    display: flex;
    justify-content: center;
}

.filter-one {
    bottom: 10px;
    position: absolute;
    right: 10px;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), 
    url(../images/section_5_men_1.png), url(../images/section_5_nets.png);
}

.filter-background {
    margin: 40px 40px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}

.nets {
    background-image: url(../images/section_5_nets.png);
    width: 224px;
    height: 56px;
    position: absolute;
    top: 207px;
    left: 78px;
}

.filter-two {
    margin: 40px 40px;
    width: 380px;
    height: 470px;
    background-image: url(../images/section_5_men_2.png);
}

.filter-three {
    margin: 40px 40px;
    width: 380px;
    height: 470px;
    background-image: url(../images/section_5_men_3.png);
}

.worker-name {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 41px 0 12px 0;
}

.job-name {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.section-size {
    margin: 51px 0;
    text-align: center;
    background-color: #f8f8f8;
}

.map{
    background-image: url('../images/Layer_59.png');
    height: 25vh;
    color: #f38181;
    
}

.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-map{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.pointer{
    margin: 20px;
}

.map-line{
    width: 60px;
    border-bottom: 3px solid ;
    margin: 40px;
}
/*section 8*/

.section-8{
    width: 80%;
    margin: 60px auto 120px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.mogo-block{
    width: 35%;
}

.logo{
    color: #cccccc;
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 42px;
}

.content{
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 22px;
}

.numeral-followers{
    width: 96px;
    height: 15px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 17px;
}

.numeral{
    font-family: "Montserrat - Bold";
    font-size: 18px;
    font-weight: 700;
}

.followers{
    font-family: "Montserrat - Regular";
    font-weight: 400;
}

.line{
    border-top: 1px solid #e5e5e5;;
    margin: 20px 0;
}

.social{
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 20px;
}

.follow-us{
    width: 64px;
    height: 13px;
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.social-web{
    text-decoration: none;
    width: 16px;
    height: 14px;
    color: #95e1d3;
}

.input-text{
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    opacity: 0.5;   
}

.button{
    height: 11px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: 0;
}

.blogs{
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.blog-block{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.blog-image{
    float: left;
    margin-right: 20px;
}

.blog-content{
    height: 27px;
    color: #333333;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 17px;
}

.date{
    height: 12px;
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
}

.instagram-blog{
    width: 28%;
}

.photo{
    float: left;
    width: 80%;
}

.instagram-padding{
    padding: 1px;
}

.view{
    width: 96px;
    height: 13px;
    color: #333333;
    font-family: "Roboto - Light Italic";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;  
    opacity: 0.6;
}

.copyright{
    width: 80%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    margin: 0 auto;
}

.c-mogo{
    height: 14px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin: 20px;
}

.laaqiq{
    color: #f38181;
}

/* Latest page */
a,
a:hover {
	text-decoration: none;
	color: white;
}

.latestBlog {
	background-color: white;
}

.container-latestBlog {
	max-width: 1230px;
    padding-bottom: 80px;
    border: solid 1px rgba(0, 0, 0, 0);
    font-size: 0;
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}
.line-latestBlog {
	height: 1px;
	width: 58px;
	border: solid #f38181 1px;
	background-color: #f38181;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.heading {
	margin-top: 80px;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333333;
	margin-top: 80px;
}

#section8 h3 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #333333;
	margin-top: 15px;
	margin-bottom: 30px;
}

#section8>div>div.line {
	margin-bottom: 30px;
}

.tileContainer8 {
	display: inline-block;
	max-width: 380px;
	text-align: left;
	margin: 13px;
	vertical-align: top;
}

.tile8 {
	height: 240px;
    width: 380px;
	background-position: center;
	background-repeat: no-repeat;
}

#tile131 {
	background-image: url('../images/13-1.png');
}

#tile132 {
	background-image: url('../images/13-2.png');
}

#tile133 {
	background-image: url('../images/13-3.png');
}


.date8 {
    text-align: center;
	width: 60px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: #95e1d3;
	position: relative;
	top: 160px;
    left: -10px;
}

.day8 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: white;
}

.month8 {
	margin-top: -3px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: 100;
	color: white;
}

.name8 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
    color: #333333;
    font-weight: bold;
}

.content8 {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999999;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#section8 hr {
	border: solid 1px #e5e5e5;
	border-top: 0;
}

.info8 {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: 100;
	color: #999999;
	float: left;
}

.info8 img,
.info8 div {
	display: inline-block;
	vertical-align: middle;
}

.comment8 {
	margin-left: 15px;
}
/* Latest page */